/public/images/location_logo/*
/public/images/user_avatars/*
/public/images/location_background/*
/public/images/brand_logo/*
/public/images/brand_background/*
!/public/images/location_logo/.keep
!/public/images/location_background/.keep
!/public/images/brand_logo/.keep
!/public/images/brand_background/.keep
!/public/images/user_avatars/.keep
/config/shards.yml
/config/database.yml
/vendor
/tmp
!/tmp/.keep
/.bundle
/log
/coverage/*
