<div style="color:#4F4F4F; padding: 0 0 20px 0; text-align: center;">

  <div style="padding-top: 25px; padding-bottom: 5px; text-align: center; background: #2d3d51;">
    <p style="line-height: 1.6em; margin-left: 20px; font-size: 20px; color: #231f20; text-align: center; color: white;">
      Здравствуйте! Кто-то инициировал процесс генерации нового пароля.
      <br>
      Если, вдруг, это были не вы, просто проигнорируйте данное сообщение.
    </p>
  </div>

  <div class="">
    <span>
      <p>
        Ваш новый пароль:
        <b>
          <%= @password %>
        </b>
      </p>
    </span>
  </div>

</div>

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>

    <div style="width: 600px; padding-top: 25px; padding-bottom: 5px; text-align: center; background: #0e1a35; font-family: sans-serif; font-size: 14px">
      <img class="logo" src="http://www.gycwifi.com/uploads/images/ba35b03c20d9768c2c7ee86e1c3b0cb1.png" alt="GYC WiFi" width="121" height="61"/>
      <p style="line-height: 1.6em; margin-left: 20px; font-size: 20px; color: #ffffff;">
        Здравствуйте! Кто-то инициировал процесс генерации нового пароля.
        <br>
        Если, вдруг, это были не вы, просто проигнорируйте данное сообщение.
      </p>
    </div>

    <div style="background: #2d3d51; padding: 40px 10px 20px 10px; font-family: sans-serif; font-size: 14px">
      <table style="width: 580px; background-color: #2d3d51;">
        <tr>
          <td width="200px" style="background: url('http://www.gycwifi.com/img/mail_separator.png') repeat-x 0 4px;">
            <span style="background-color: #fff; padding-right: 3px;">
              Ваш новый пароль:
            </span>
          </td>
          <td>
            <b style="color: #589acd">
              <%= @password %>
            </b>
          </td>
        </tr>
      </table>
      <div style="margin-top: 60px; margin-bottom: 40px; width: 580px; text-align: center;">
        <a style="border: 1px solid #dadbdb; padding: 15px 60px; text-decoration: none; background: #0e1a35; color: #ffffff; text-transform: uppercase; border-radius: 3px;" href="https://dashboard.gycwifi.com/" target="_blank">
          ПЕРЕЙТИ НА САЙТ
        </a>
      </div>
    </div>

    <div style="width: 600px; padding: 10px 0; text-align: center; background: #0e1a35; color: #d0d2d3; font-family: sans-serif; font-size: 14px">
      <p style="line-height: 20px">
        По всем вопросам Вы можете обращаться по телефону 8 495 644-03-93<br>
        или на сайте
        <a href="www.gycwifi.com" style="color: #589acd">www.gycwifi.com</a>
      </p>
      <h2 style="font-weight: 400; color: #ffffff;">МЫ В СОЦСЕТЯХ</h2>
      <ul style="text-align: center; padding: 0;">

        <li style="display: inline; padding: 0 8px;">
          <a style="text-decoration: none;" href="https://www.facebook.com/Get-Transfer-548999978590475">
            <img src="http://www.gycwifi.com/uploads/img/icon_facebook.png" alt="facebook"/>
          </a>
        </li>
        <li style="display: inline; padding: 0 8px;">
          <a style="text-decoration: none;" href="https://plus.google.com/u/0/109208880153527013164/posts">
            <img src="http://www.gycwifi.com/uploads/img/icon_google.png" alt="google"/>
          </a>
        </li>
        <li style="display: inline; padding: 0 8px;">
          <a style="text-decoration: none;" href="https://www.instagram.com/gettransfer/">
            <img src="http://www.gycwifi.com/uploads/img/icon_inst.png" alt="instagram"/>
          </a>
        </li>
        <li style="display: inline; padding: 0 8px;">
          <a style="text-decoration: none;" href="https://twitter.com/get_transfer">
            <img src="http://www.gycwifi.com/uploads/img/icon_twitter.png" alt="twitter"/>
          </a>
        </li>
      </ul>

      <div style="text-align: center; width: 550px; margin-left: 17px; border-bottom: 1px solid #919293"></div>

      <p style="font-size: 10px; line-height: 1.6em;">
        © 2016 GYC WiFi LLC. © GYC WiFi LLC. GYC WiFi Management™ Народный WiFi™ are trademarks of GYC<br>
        WiFi LLC. All rights reserved.
      </p>
    </div>

  </body>
</html> -->
