<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GycWifi</title>
  </head>
  <body>
    <div style="width: 600px; font-family: sans-serif; font-size: 14px">
      <div style="padding-top: 35px; padding-bottom: 5px; text-align: center; background: #3e4a59;">
        <img src="https://dashboard.gycwifi.com/images/logo_white.png" alt="GycWifi" width="140px"/>
      </div>

      <%= yield %>

      <div style="width: 600px; padding: 10px 0; text-align: center; background: #3e4a59; color: #d0d2d3; font-family: sans-serif; font-size: 14px">
        <p style="line-height: 20px">
          По всем вопросам Вы можете обращаться по телефону 8 495 644-03-93<br>
          или на сайте
          <a href="www.gycwifi.com" style="color: #589acd">www.gycwifi.com</a>
        </p>
        <h2 style="font-weight: 400; color: #ffffff;">МЫ В СОЦСЕТЯХ</h2>
        <ul style="text-align: center; padding: 0;">

          <li style="display: inline; padding: 0 8px;">
            <a style="text-decoration: none;" href="https://www.facebook.com/profile.php?id=100015617447131">
              <img src="https://gycwifi.com/images/fb.png" alt="facebook"/>
            </a>
          </li>
          <li style="display: inline; padding: 0 8px;">
            <a style="text-decoration: none;" href="https://plus.google.com/u/4/102359769466789225439">
              <img src="https://gycwifi.com/images/google.png" alt="google"/>
            </a>
          </li>
          <li style="display: inline; padding: 0 8px;">
            <a style="text-decoration: none;" href="https://www.instagram.com/gyc_wifi/">
              <img src="https://gycwifi.com/images/instagram.png" alt="instagram"/>
            </a>
          </li>
          <li style="display: inline; padding: 0 8px;">
            <a style="text-decoration: none;" href="https://twitter.com/gyc_wifi">
              <img src="https://gycwifi.com/images/twitter.png" alt="twitter"/>
            </a>
          </li>
        </ul>

        <div style="text-align: center; width: 550px; margin-left: 17px; border-bottom: 1px solid #919293"></div>

        <p style="font-size: 10px; line-height: 1.6em;">
          © 2016 GYC WiFi LLC. © GYC WiFi LLC. GYC WiFi Management™ Народный WiFi™ are trademarks of GYC<br>
          WiFi LLC. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
